body {
  padding-top: 60px;
}

.container {
  width: auto;
  max-width: 680px;
}

.item, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}


.error {
  color: #FF2602;
}

.form-actions {
  background: #fff;
  border: 0;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;	/* Gets overriden by D3-assigned height below */
    margin-right: 2px;
    background-color: teal;
}


.angular-leaflet-map {
    height: 100%;
}
