<% layout('./layouts/default') -%>

<div class="main-head">
  <h1>Oops something went wrong</h1><br><span>500</span>
</div>
<div id="error-message-box">
  <div id="error-stack-trace">
    <pre><%= error %></pre>
  </div>
</div>